[submodule "roles/net-int-config"]
	path = roles/net-int-config
	url = https://github.com/network-automation/ansible-role-net-int-config.git
[submodule "roles/net-vlan-config"]
	path = roles/net-vlan-config
	url = https://github.com/network-automation/ansible-role-net-vlan-config.git
[submodule "roles/net-version"]
	path = roles/net-version
	url = https://github.com/network-automation/ansible-role-net-version.git
[submodule "roles/ansible-tower"]
	path = roles/ansible-tower
	url = https://github.com/network-automation/ansible-role-ansible-tower.git
[submodule "roles/net-backup"]
	path = roles/net-backup
	url = https://github.com/network-automation/ansible-role-net-backup.git
[submodule "inventory/cil"]
	path = inventory/cil
	url = git@github.com:ismc/cil-inventory.git
